* {
  font-family: "Mouse Memoirs", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.game-section {
  position: relative;
  /* height: 100vh; */
}

.game-container {
  width: 1216px;
  height: 100%;
  margin-inline: auto;
  padding-block: 70px;
}
.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 88px;
}
.menu-button {
  display: grid;
  place-items: center;
  width: 94px;
  height: 94px;
  border-radius: 50%;
  background-image: linear-gradient(180deg, #fe71fe 0%, #7199ff 100%);
  box-shadow: inset 0 -4px 0 1px #243041,
    inset 0 -6px 0 7px rgb(157, 45, 245, 0.25);
  transition: background-image 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.menu-button:hover {
  background-image: linear-gradient(180deg, #7199ff 0%, #fe71fe 100%);
}

.menu-button:active {
  transform: translateY(4px);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0),
    inset 0px -3px 7px rgba(158, 45, 245, 0.5);
}

/* .menu-button::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  box-shadow: inset 0px -6px 7px rgba(158, 45, 245, 0.25);
} */

/* .menu-button:active::before {
  top: -3px;
} */
.header-1 {
  display: flex;
  gap: 57px;
}
.health-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 240px;
  height: 31px;
  background-color: #fff;
  border-radius: 50rem;
  padding-inline: 11px;
}

.health-bar span {
  display: inline-block;

  height: 13px;
  /* width: 100%; */
  background-color: #261676;
  border-radius: inherit;
  transition: all 0.3s ease-in-out;
}
.header-2 {
  display: flex;
  align-items: center;
  gap: 40px;
}
.game-keys {
  font-family: "Mouse Memoirs", sans-serif;
  display: grid;
  place-items: center;
  width: 109px;
  padding-block: 13px;
  line-height: 120%;
  letter-spacing: 5%;
  /* height: 84px; */
  background-color: white;
  border-radius: 24px;
  color: #261676;
  font-size: 48px;
  text-transform: uppercase;
}
.alphabets {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.words {
  width: 80%;
  margin-bottom: 120px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: auto;
  text-align: center;
}
.puzzle {
  font-size: 88px;
  font-family: "Mouse Memoirs", sans-serif;
  text-transform: uppercase;
  width: 113px;
  cursor: pointer;
  height: 128px;
  padding-inline: 37.5px;
  padding-block: 11px;
  border-radius: 40px;
  background-color: #2463ff;
  position: relative;
  border: solid 2px transparent;
  color: #fff;
  box-shadow: inset 1px 0px 0px 6px #3c74ff, inset 0 -2px 0 3px #140e66;
  /* box-shadow: 0 1px 0 0 rgba(59, 116, 255, 0.6),
    inset 0 -6px 0 0 rgba(20, 12, 102, 0.4),
    inset 0 -3px 0 0 rgba(66, 23, 102, 0.8); */
  transition: all 0.3s ease-in-out;
}
.puzzle:focus {
  outline: none;
  border-color: #261676;
}
.puzzle.wrong {
  border: solid 2px red;
}
.puzzle-space {
  width: 113px;
  height: 128px;
  border-radius: 40px;
  background-color: rgba(36, 99, 255, 0.35);
  border: solid 2px transparent;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.puzzle-whitespace {
  width: 113px;

  height: 128px;
}

.game-modal {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  display: grid;
  place-items: center;
  z-index: 100;
  position: fixed;
  background-image: linear-gradient(
    to bottom,
    #1a043a 0%,
    rgb(21, 18, 120, 0.4) 70%,
    rgb(43, 22, 119, 0.4) 100%
  );
}
.game-over {
  height: 100vh;
  overflow: hidden;
}
.modal-child {
  position: relative;
  display: grid;
  place-items: center;
  width: 592px;
  height: 445px;
  border-radius: 72px;
  background: linear-gradient(180deg, #344aba 0%, rgba(0, 20, 121, 0.83) 100%);

  box-shadow: inset 0 -8px 0 4px #140e66, inset 0 6px 0 8px #2463ff;
}
.verdict {
  position: absolute;
  width: max-content;
  top: -19%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 136px;
  display: inline-block;
  background-image: linear-gradient(to bottom, #67b6ff 0%, #fff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 2px #243041;
  text-transform: capitalize;
}
.options {
  width: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
}
.option-1,
.option-2 {
  position: relative;
  font-size: 32px;
  max-width: 100%;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 64px;
  border-radius: 40px;
}
.option-1 {
  background-color: #2463ff;

  box-shadow: inset -2px 0 0 3px #140e66, inset 1px 0 0 6px #3c74ff;
}
.option-2 {
  background-image: linear-gradient(to bottom, #fe71fe 0%, #7199ff 100%);
  box-shadow: inset -2px 0 0 3px #140e66, inset 1px 0 0 6px #c642fb;
}
.option-1::after,
.option-2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  box-shadow: inherit;
  background-color: rgba(255, 255, 255, 0.25);
  z-index: -100;
  /* transition: z-index 0.3s ease-in-out; */
}
.option-1:hover::after,
.option-2:hover::after {
  z-index: 1;
}
.option-1:active,
.option-2:active {
  transform: translateY(4px);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
}
.option-1:active,
.option-2:active {
  z-index: 1;
}
