.how-to-play {
  width: 384px;
  border-radius: 40px;
  display: grid;
  gap: 40px;
  padding-inline: 43.5px;
  place-items: center;
  background-color: #fff;
}
.how-to-play h2 {
  color: #2463ff;
}
.how-to-play h3 {
  color: #261676;
}
.how-to-play p {
  color: #887dc0;
  letter-spacing: 5%;
  line-height: 120%;
}
.how-to-play-wrapper {
  width: 1216px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.section-how-to-play {
  height: 100vh;
  width: 100%;
  background-image: url("/images/background-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.how-to-play-header h1 {
  display: inline-block;
  background-image: linear-gradient(to bottom, #67b6ff 0%, #ffffff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
  -webkit-text-stroke: 2px #243041;
}
